body {
    background-image: url("back.jpg");
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createpf {
      padding: 40px;
      /* background-color: #ffffff; */
      opacity: 50;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#pfp {
    height: 200px;
    width: 200px;
}

#create {
    background-color:lawngreen;
    height: 40px;
    width: 200px;
    border-radius: 8px;
}